.main__container {
  background-image: linear-gradient(var(--token-2c3d7eb7-aec5-4ee1-a7fd-dc72eeddd29e, rgb(24, 24, 24)) 2px, transparent 2px),
    linear-gradient(var(--token-2c3d7eb7-aec5-4ee1-a7fd-dc72eeddd29e, rgb(24, 24, 24)) 1px, transparent 1px),
    linear-gradient(
      90deg,
      var(--token-2c3d7eb7-aec5-4ee1-a7fd-dc72eeddd29e, rgb(24, 24, 24)) 1px,
      var(--token-ba23e750-a8d7-4666-8d73-292e3c805d01, rgb(17, 17, 17)) 1px
    );
}

.auth__image {
  @apply hidden bg-auth flex-1 lg:flex items-center justify-center bg-no-repeat bg-center bg-cover relative z-10;
}
.auth__image::after {
  @apply content-[''] absolute top-0 left-0 right-0 bottom-0 z-[-1];
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8));
}
.hero__image {
  @apply bg-hero bg-no-repeat bg-right-bottom bg-cover relative;
}
.hero__height {
  height: calc(100vh - 84px);
  @apply flex flex-col lg:flex-row items-center justify-center relative;
}
.booking__filters {
  @apply relative;
}
.booking__filters--box {
  @apply absolute bottom-0 right-0 left-0 flex justify-center px-10;
}
.booking__filters--card {
  @apply bg-white w-full md:max-w-4xl rounded-md shadow-md shadow-gray-500 px-5 py-5;
}
.booking__filters--main {
  @apply flex flex-col gap-5 mb-5 md:flex-row;
}

/* DRAWER CLASS */
.drawer__container {
  @apply fixed z-50 top-0 left-0 right-0 bottom-0;
  display: flex;
}
.drawer__container.left {
  flex-direction: row;
}
.drawer__container.right {
  flex-direction: row-reverse;
}
.drawer__item--left {
  @apply bg-white w-[80%] sm:w-[500px] overflow-auto p-5;
}
.drawer__item--right {
  @apply bg-people-say w-[20%] sm:w-drawer-right;
}

/* GRID CHIPS */
.filter__chips--container {
  @apply flex items-center;
}
.filter__chips--action {
  @apply w-[200px] md:w-[210px];
}
.filter__chips--items {
  @apply flex flex-wrap gap-1 overflow-hidden;
  width: calc(100% - 200px);
}

/* INPUT DATE PICKER */
.react-datepicker-wrapper {
  @apply w-full;
}
.react-datepicker-picker {
  @apply w-full border-2 border-gray-200 rounded-md shadow-sm !py-2 !pl-10 outline-none;
}
.react-datepicker-picker-icon {
  height: 25px;
  width: 25px;
}

/* DASHBOARD SCROLL - START */
.dashboard-dynamic-container-desktop {
  height: calc((100vh) - 340px);
  overflow: auto;
  flex: 1;
}

.dashboard-dynamic-container-mobile {
  height: calc((100vh) - 200px);
  overflow: auto;
}
/* DASHBOARD SCROLL - END */

/* LOADER - START */
.loader_content {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 10px solid;
  border-color: #000 #fff;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
/* LOADER - END */
